body {
  background-color: silver;
  font-family: Arial;
}

.card {
  background-color: white;
  border: 1px solid black;
  width: 250px;
}

h1 {
  color: darkblue;
}

button {
  background-color: black;
  color: white;
}
